<!-- navbar -->
<header>
   <nav class="fixed-nav-bar">
     <input type="checkbox" id="css-toggle-menu" name="css-toggle-menu">
     <ul class="main">
           <li><a href="/" class="nav-bar">Home</a></li>
           <li><a href="/#/portfolio" class="nav-bar">Portfolio</a></li>
           <li><a href="/#/about" class="nav-bar">About</a></li>
           <li><a href="/#/contact" class="nav-bar">Contact</a></li>
           <li><a href="https://drive.google.com/file/d/0B189AB6x5MrHOUNtcHA0Rl9RMmc/view?usp=sharing" class="nav-bar">Resume</a></li>
     </ul>
     <label for="css-toggle-menu" id="css-toggle-menu"></label>
   </nav>
</header>
<!--  -->
<div class="container-background">
  <div class="background">
    <div class="main-row">
      <div class="col-xs-3 col-md-3"></div>
      <div class="col-xs-6 col-md-6">
        <p id="desc-title">Full Stack Web Developer</p>
        <p id="desc-frame"><strong>Aim for the Stars | Never look back</strong></p>
        <div id="buttons">
          <a href="/#/contact" id="desc-main">Contact</a>
          <a href="https://drive.google.com/file/d/0B189AB6x5MrHOUNtcHA0Rl9RMmc/view?usp=sharing" id="desc-resume">Resume</a>
        </div>
      </div>
      <div class="col-xs-3 col-md-3"></div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<div class="about-container">
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <img class="img-responsive img-circle" src="image/headshot.jpg" style="margin-left: 25%">
      <br>
      <h1> A Little About Me </h1>
    </div>

    <div class="col-xs-6 col-md-6" style="margin-top: -2%">
      <div style="float: left">
        <h1> Background Info </h1>
      </div>
      <div style="float: left">
        <h5> Hello, my name is John Byonghun Kwak, and I am an aspiring Web Developer whose passion to create elegant code is driven by the joy of puzzle-solving, the thirst to be part of a rapidly growing industry, and the desire to keep on learning.</h5>
        <div id="fun">
          <a href="/#/about">Fun Facts Below</a>
        </div>

      </div>
    </div>
    <div class="col-xs-2 col-md-2"></div>
  </div>
</div>


<div class="about-content">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="about-me col-md-4">
      <h1>Fun Facts</h1>
      <p class="about-p">I was born in Seoul, Korea. I lived in the East and West coasts as well as the North and South. I am a huge sports fan especially basketball, football, and soccer. I enjoy star gazing, hiking, swimming, and reading motivational books. The only pet I want is a pet bunny.</p>
    </div>
    <div class="col-md-4"></div>
  </div>
    <br>
    <br>
    <hr>
  </div>
  <br>
  <br>
  <div class="its-me">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h1>Why Web Developing?</h1>
        <p class="its-p">
        I graduated from the University of Tennessee, Knoxville and started working for Anthem Blue Cross in California. While working on a project, I had the privelage to talk to the main developer working on the project. I always knew I wanted to be in an industry where I can pave my own future. Because of my desire to build things, I gravitated towards computer programming. Watching the developer build an entire website, with the functionalities that we asked him to include was intruiging. Now I am currently working to become the best that I can!
        </p>
      </div>
      <div class="col-md-4"></div>
  </div>
    <br>
    <br>
    <hr>
</div>



