<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="js/app.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>
<!-- header -->
<div id="main-header">
  <div id="signup">
    <a href="/" class="nav-bar">Home</a>
    <a href="/users/signup" class="nav-bar">Portfolio</a>
    <a href="/about" class="nav-bar">About</a>
    <a href="/users/signup" class="nav-bar">Resume</a>
    <a href="/#/contact" id="desc-about">Contact</a>
  </div>
</div>
<!--  -->
<body>
<main id="about-page">
  <div class="about-container-background">
    <div class="about-background">
    </div>
  </div>

  <div class="about-desc">
    <div class="about-box">
      <p id="about-title">A little about me</p>
      <p id="about-info"><strong>Who I Am</strong></p>
    </div>
  </div>


  <div class="about-content">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="about-me col-md-4">
        <h1>Fun Facts</h1>
        <p class="about-p">I was born in Seoul, Korea. I lived in the East and West coasts as well as the North and South. I am a huge sports fan especially basketball, football, and soccer. I enjoy star gazing, hiking, swimming, and reading motivational books. The only pet I want is a pet bunny.</p>
      </div>
      <div class="col-md-4"></div>
    </div>
      <br>
      <br>
      <hr>
    </div>
    <br>
    <br>
    <div class="its-me">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h1>Why Web Developing?</h1>
          <p class="its-p">
          I graduated from the University of Tennessee, Knoxville and started working for Anthem Blue Cross in California. While working on a project, I had the privelage to talk to the main developer working on the project. I always knew I wanted to be in an industry where I can pave my own future. Because of my desire to build things, I gravitated towards computer programming. Watching the developer build an entire website, with the functionalities that we asked him to include was intruiging. Now I am currently working to become the best that I can!
          </p>
        </div>
        <div class="col-md-4"></div>
    </div>
      <br>
      <br>
      <hr>
  </div>
</main>
</body>
</html>
