<!-- navbar -->
<header>
   <nav class="fixed-nav-bar">
     <input type="checkbox" id="css-toggle-menu" name="css-toggle-menu">
     <ul class="main">
           <li><a href="/" class="nav-bar">Home</a></li>
           <li><a href="/#/portfolio" class="nav-bar">Portfolio</a></li>
           <li><a href="/#/about" class="nav-bar">About</a></li>
           <li><a href="/#/contact" class="nav-bar">Contact</a></li>
           <li><a href="https://drive.google.com/file/d/0BzcVHbd_FS_7TlFxemVNbFNPams/view?usp=sharing" class="nav-bar">Resume</a></li>
     </ul>
     <label for="css-toggle-menu" id="css-toggle-menu"></label>
   </nav>
</header>
<!--  -->
<div class="container-background">
  <div class="background">
    <div class="main-row">
      <div class="col-xs-3 col-md-3"></div>
      <div class="col-xs-6 col-md-6">
        <p id="desc-title">Full Stack Web Developer</p>
        <p id="desc-frame"><strong>Shoot for the Stars | Never look back</strong></p>
        <div id="buttons">
          <a href="/#/portfolio" id="desc-main">Portfolio</a>
          <a href="https://drive.google.com/file/d/0B189AB6x5MrHOUNtcHA0Rl9RMmc/view?usp=sharing" id="desc-resume">Resume</a>
        </div>
      </div>
      <div class="col-xs-3 col-md-3"></div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<div class="about-container">
  <div class="row">

    <div class="col-xs-4 col-md-4">

    </div>

    <div class="col-xs-4 col-md-4">
      <img class="img-responsive img-circle" src="image/headshot.jpg" style="margin-left: 29%">
      <h1 style="font-size: 5em"> Contact Me! </h1>
    </div>

    <div class="col-xs-4 col-md-4">

    </div>

  </div>
</div>
<br>
<br>
<br>

<div class="port-me">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 style="font-size: 4.5em; color: floralwhite"> Hello,  </h1>
      <br>
      <br>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading" style="font-size: 4em; color: floralwhite">My Name is John Byonghun Kwak</h2>
        <hr class="primary">
        <h3 style="color:white">Available for Hire!</h3>
      </div>

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <i href="tel:+18183702601" class="fa fa-phone fa-3x" style="font-size: 2em; margin-top: 2%; color: #0a6ebd" > &nbsp Phone: <span class="info">(818) 370 - 2601</span> </i>
<br>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <i href="mailto:john.bh.kwak@gmail.com" class="fa fa-envelope-o fa-3x" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn; font-size: 2em; margin-top: 2%; color: #0a6ebd">&nbsp Email: <span class="info">john.bh.kwak@gmail.com</span></i>
<br>
      </div>
      <br>
      <br>

      <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 3%">
        <ul class="list-inline">
            <li>
                <a href="https://angel.co/john-bh-kwak" class="btn-social btn-outline"><i class="fa fa-fw fa-angellist"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/kwakiekwak" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li>
                <a href="https://profiles.generalassemb.ly/profiles/john-bh-kwak" class="btn-social btn-outline"><i class="fa fa-fw fa-users"></i></a>
            </li>
             <li>
                <a href="https://github.com/kwakiekwak" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
            </li>
        </ul>
      </div>


    </div>
  </div>
</div>





