<!-- navbar -->
<header>
   <nav class="fixed-nav-bar">
     <input type="checkbox" id="css-toggle-menu" name="css-toggle-menu">
     <ul class="main">
           <li><a href="/" class="nav-bar">Home</a></li>
           <li><a href="/#/portfolio" class="nav-bar">Portfolio</a></li>
           <li><a href="/#/about" class="nav-bar">About</a></li>
           <li><a href="/#/contact" class="nav-bar">Contact</a></li>
           <li><a href="https://drive.google.com/file/d/0BzcVHbd_FS_7TlFxemVNbFNPams/view?usp=sharing" class="nav-bar">Resume</a></li>
     </ul>
     <label for="css-toggle-menu" id="css-toggle-menu"></label>
   </nav>
</header>

<div class="container">
  <div class="background">
    <div class="main-row">
      <div class="col-xs-2 col-md-3"></div>
      <div class="col-xs-4 col-md-4">
        <div class="quote-container">
          <i class="pin"></i>
            <blockquote class="note yellow">
              {{main.quote}}
            <cite class="author">{{main.author}}</cite>
            </blockquote>
        </div>
      </div>
      <div class="col-xs-6 col-md-5"></div>
    </div>
  </div>
</div>




<!--  -->
<div class="container-background">
  <div class="background">
    <div class="main-row">
      <div class="col-xs-3 col-md-3"></div>
      <div class="col-xs-6 col-md-6">
        <p id="desc-title">Full Stack Web Developer</p>
        <p id="desc-frame"><strong>Shoot for the Stars | Never look back</strong></p>
        <div id="buttons">
          <a href="/#/contact" id="desc-main">Contact</a>
          <a href="https://drive.google.com/file/d/0BzcVHbd_FS_7TlFxemVNbFNPams/view?usp=sharing" id="desc-resume">Resume</a>
        </div>
      </div>
      <div class="col-xs-3 col-md-3"></div>
    </div>
  </div>
</div>

<br>
<br>
<br>

<div class="about-container">
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <img class="img-responsive img-circle" src="image/headshot.jpg" style="margin-left: 25%">
      <br>
      <h1> A Little About Me </h1>
    </div>

    <div class="col-xs-6 col-md-6" style="margin-top: -2%">
      <div style="float: left">
        <h1> Background Info </h1>
      </div>
      <div style="float: left">
        <h5> Hello, my name is John Byonghun Kwak, and I am a professional Web Developer whose passion to create elegant code is driven by the joy of puzzle-solving, the thirst to be part of a rapidly growing industry, and the desire to keep on learning.</h5>
        <div id="fun">
          <a href="/#/about">Fun Facts Anyone?</a>
        </div>

      </div>
    </div>
    <div class="col-xs-2 col-md-2"></div>
  </div>
</div>
<br>
<br>

<div class="port-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 style="color:aquamarine; font-size: 3em"> Your Wish Is My Command </h1>
      <br>
      <br>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-4 col-md-6 text-center">
      <div class="main-box">
        <i class="fa fa-4x fa-code wow bounceIn text-muted" style="visibility: visible; animation-name: bounceIn;"></i>
        <h3 style="color:floralwhite">Web Development</h3>
        <h5 style="color:aquamarine"> < Front-End >  < /Back-End ></h5>
        <br>
        <br>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
      <div class="main-box">
        <i class="fa fa-4x fa-users" style="visibility: visible; animation-name: bounceIn;"></i>
        <h3 style="color:floralwhite">Building A Community</h3>
        <h5 style="color:aquamarine">Mentors, Coworkers, Classmates, Friends</h5>
        <br>
        <br>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
      <div class="main-box">
        <i class="fa fa-4x fa-laptop wow bounceIn text-muted" style="visibility: visible; animation-name: bounceIn;"></i>
        <h3 style="color:floralwhite">Where Magic Happens</h3>
        <h5 style="color:aquamarine">Idea + Hardwork = Awesome Applications</h5>
        <br>
        <br>
      </div>
    </div>

  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">

    <!-- placeholder for hackathon project -->
  <div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="image/hackathon.jpg" class="img-responsive" id="projects">
      <h3>Solving-Homelessness</h3>
      <h5>A website that serves as a portal for charity donations and placed 1st in the General Assembly's Hackathon.</h5>
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">

            <div class="project-name">
                <a href="https://github.com/nick-castaneda/solving-homelessness" class="btn btn-default btn wow tada" style="margin: 30px">
                <i class="fa fa-github"> Github</i></a>
                <a href="http://give-mlk-hackathon.herokuapp.com/" class="btn btn-default btn wow tada" style="margin: 30px;">
                <i class="fa fa-external-link"> Launch</i></a>
            </div>

        </div>
      </div>
    </div>


    <div class="col-lg-4 col-sm-6 portfolio-box">
      <img src="image/project3.jpg" class="img-responsive" id="projects">
        <h3>Venture Us</h3>
        <h5>A full-stack website built in order for people to use to get rid of indecisiveness and venture.</h5>
      <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">

              <div class="project-name">
                  <a href="https://github.com/kwakiekwak/venture_us" class="btn btn-default btn wow tada" style="margin: 30px">
                  <i class="fa fa-github"> Github</i></a>
                  <a href="http://project-venture-us.herokuapp.com/" class="btn btn-default btn wow tada" style="margin: 30px;">
                  <i class="fa fa-external-link"> Launch</i></a>
              </div>

          </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 portfolio-box">
      <img src="image/tagalong.jpg" class="img-responsive" id="projects">
        <h3>Tag Along</h3>
        <h5>A MEAN stack website originated in order for people to carpool in a safe and easy way.</h5>
      <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">

              <div class="project-name">
                  <a href="https://github.com/kwakiekwak/tagalong" class="btn btn-default btn wow tada" style="margin: 30px">
                  <i class="fa fa-github"> Github</i></a>
                  <a href="#" class="btn btn-default btn wow tada" style="margin: 30px;">
                  <i class="fa fa-external-link"> N/A</i></a>
              </div>

          </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-box">
      <img src="image/pikachu.jpg" class="img-responsive" id="projects">
        <h3>Peekatchu-R-Challenge</h3>
        <h5>A website built on Rails. The idea stemmed from Youtube stars trying out different challenges.</h5>
      <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">

              <div class="project-name">
                  <a href="https://github.com/kwakiekwak/peekatchu-r" class="btn btn-default btn wow tada" style="margin: 30px">
                  <i class="fa fa-github"> Github</i></a>
                  <a href="https://peekatchu-challenge.herokuapp.com/" class="btn btn-default btn wow tada" style="margin: 30px;">
                  <i class="fa fa-external-link"> Launch</i></a>
              </div>

          </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 portfolio-box">

      <img src="image/project1.jpg" class="img-responsive" id="projects">
        <h3>Phrase-Me!</h3>
        <h5>A game created based on a combination of Wheel Of Fortune and Hang Man.</h5>
      <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">

              <div class="project-name">
                  <a href="https://github.com/kwakiekwak/Phrase-Me-" class="btn btn-default btn wow tada" style="margin: 30px">
                  <i class="fa fa-github"> Github</i></a>
                  <a href="http://kwakiekwak.github.io/Phrase-Me-/index1.html" class="btn btn-default btn wow tada" style="margin: 30px;">
                  <i class="fa fa-external-link"> Launch</i></a>
              </div>

          </div>
      </div>

    </div>



  </div>
</div>


<div class="port-me">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 style="font-size: 4.5em; color: floralwhite"> Hello,  </h1>
      <br>
      <br>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading" style="font-size: 4em; color: floralwhite">My Name is John Byonghun Kwak</h2>
        <hr class="primary">
        <h3 style="color:white">Available for Hire!</h3>
      </div>

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <i href="tel:+18183702601" class="fa fa-phone fa-3x" style="font-size: 2em; margin-top: 2%; color: #0a6ebd" > &nbsp Phone: <span class="info">(818) 370 - 2601</span> </i>
<br>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <i href="mailto:john.bh.kwak@gmail.com" class="fa fa-envelope-o fa-3x" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn; font-size: 2em; margin-top: 2%; color: #0a6ebd">&nbsp Email: <span class="info">john.bh.kwak@gmail.com</span></i>
<br>
      </div>


      <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 3%">
        <ul class="list-inline">
            <li>
                <a href="https://angel.co/john-bh-kwak" class="btn-social btn-outline"><i class="fa fa-fw fa-angellist"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/kwakiekwak" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li>
                <a href="https://profiles.generalassemb.ly/profiles/john-bh-kwak" class="btn-social btn-outline"><i class="fa fa-fw fa-users"></i></a>
            </li>
             <li>
                <a href="https://github.com/kwakiekwak" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
            </li>
        </ul>
      </div>
      <br>

    </div>

  </div>

</div>









