<!-- navbar -->
<div id="main-header">
  <div id="signup">
    <a href="/" class="nav-bar">Home</a>
    <a href="/users/signup" class="nav-bar">Portfolio</a>
    <a href="/#/about" class="nav-bar">About</a>
    <a href="/users/signup" class="nav-bar">Resume</a>
    <a href="/#/contact" id="desc-index">Contact</a>
  </div>
</div>
<!--  -->
<div class="container-background">
  <div class="background">
  </div>
</div>
<div class="desc">
  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6">
      <p id="desc-title">Full Stack Web Developer</p>
      <p id="desc-frame"><strong>Aim for the Stars | Never look back</strong></p>
    </div>
    <div class="col-xs-3 col-md-3"></div>
  </div>

  <!-- changed the id/wokr on it -->
  <div class="row">
  <div class="col-xs-3 col-md-3"></div>
  <div id="buttons" class="col-xs-6 col-md-6">
    <a href="/#/contact" id="desc-main">Contact</a>
    <a href="/#/resume" id="desc-resume">Resume</a>
  </div>
  <div class="col-xs-3 col-md-3"></div>
</div>
<div class="content">
  <div class="me">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
      <h1 style="text-align:center">Brief Background</h1>
      <p class="me-p">My interest in web development stemmed from my passion for gaming. Between developing websites and playing video games, I admittedly spend most of my time in front of a screen. Some of my passions are writing clean code, creating sexy user experiences and filling up a fresh cup of coffee.</p>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
    <br>
    <br>
    <hr>
</div>

