<!-- navbar -->
<header>
   <nav class="fixed-nav-bar">
     <input type="checkbox" id="css-toggle-menu" name="css-toggle-menu">
     <ul class="main">
           <li><a href="/" class="nav-bar">Home</a></li>
           <li><a href="/#/portfolio" class="nav-bar">Portfolio</a></li>
           <li><a href="/#/about" class="nav-bar">About</a></li>
           <li><a href="https://drive.google.com/file/d/0B189AB6x5MrHOUNtcHA0Rl9RMmc/view?usp=sharing" class="nav-bar">Resume</a></li>
           <li><a href="/#/contact" class="nav-bar">Contact</a></li>
     </ul>
     <label for="css-toggle-menu" id="css-toggle-menu"></label>
   </nav>
</header>
<!--  -->
<div class="container-background">
  <div class="background">
    <div class="main-row">
      <div class="col-xs-3 col-md-3"></div>
      <div class="col-xs-6 col-md-6">
        <p id="desc-title">Full Stack Web Developer</p>
        <p id="desc-frame"><strong>Aim for the Stars | Never look back</strong></p>
        <div id="buttons">
          <a href="/#/contact" id="desc-main">Contact</a>
          <a href="/#/resume" id="desc-resume">Resume</a>
        </div>
      </div>
      <div class="col-xs-3 col-md-3"></div>
    </div>
  </div>
</div>

<br>
<br>
<br>


<!-- portfolio info goes here -->
